.body{
    background: black !important;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.plyr__controls{
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#videoPlayer{
    width: 100vw;
    height: 100vh !important;
}
.plyr__video-wrapper{
    height: 100vh !important;
}

#lyrics-div{
    color: white;
}

.dark-list{
    background: rgba(67, 61, 61, 0.46) !important;  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5.9px) !important;
    -webkit-backdrop-filter: blur(5.9px) !important;
    border: 1px solid rgba(67, 61, 61, 0.45) !important;
    color: white !important;
}

.light-list{
    box-shadow: 0px 1px 3px gray;
    color: black !important;
}
#fileInput2{
    width: 31.6vw;
}

.invisible{
    display: none !important;
    height: 0px !important;
    width: 0px !important;
}
.box{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 20px;
    height: 200px;
    width: 50%;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.drop-area p {
    margin-bottom: 20px;
}

.highlight {
    border-color: #ff0000 !important;
}   

#playlist {
    list-style: none;
    padding: 0;
    cursor: pointer;
    overflow-y: scroll;
}

#playlist::-webkit-scrollbar {
    width: 7px;
}
 
  /* Track */
#playlist::-webkit-scrollbar-track {
    background: transparent;
}
   
  /* Handle */
#playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(222, 218, 218); 
}
  
  /* Handle on hover */
#playlist::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

.plyr__menu{
    display: none !important;
}

#playlist li {
    margin: 10px 10px 5px 10px !important;
    padding: 5px;
    border-radius: 5px !important;
    display: inline-block;
    width: 31.6vw;
    height: 60px;
    overflow: hidden;
    /* margin-bottom: 10px; */
}
@media (max-width: 1153px) {
    #playlist li {
        width: 46vw;
        height: 80px;
    }
    #fileInput2{
        width: 46vw;
    }
}

@media (max-width: 576px) {
    #playlist li {
        width: 95vw;
    }
    .drop-area{
        width: 95vw;
    }
    #fileInput{
        width: 100% !important;
    }
    #fileInput2{
        width: 95vw;
    }
    .plyr__video-wrapper{
        height: auto !important;
    }
    .plyr__controls {
        height: 90px;
    }
    .plyr__volume,
    .plyr__menu {
        display: none !important;
    }
    .plyr__progress{
        width: 100%;
        position: absolute !important;
        bottom: 0;
    }
}

#playlist li.active {
    background-color: #0952fa !important;
    color: white !important;
}

#dark, #light, #suffleBtn{
    width: 60px !important;
    height: 50px !important;
    color: white;
    margin: 10px;
    cursor: pointer;
}


li:active {
    box-shadow: 0 0 10px rgba(217, 27, 27, 0.5);
}

#playlist li:hover {
    background-color: #0951fa90 !important;
    color: white !important;
}

.dragging-over {
    /* background: linear-gradient(to right, #0952fa, rgba(0, 0, 0, 0) 1%) !important; */
    border-left: 2px solid #0952fa !important;
    border-right: 0px !important;
    /* box-shadow: inset 3px 0px 5px #0952fa !important; */
    opacity: 0.8;
}

/* #playlist::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
} */
#playlist:hover::before {
    opacity: 1;
}

#current-speed-display{
    color: white;
    text-align: center;
    position: absolute;
    top: 110px;
    background: rgba(67, 61, 61, 0.631);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(67, 61, 61, 0.45);
    border-radius: 3px;
    padding: 10px;
    animation: slide-in 0.5s ease-out forwards;
    font-size:x-large;
    width:80px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

#lyrics-video-ele{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 1;
    overflow-y:scroll;
    overflow-x: hidden;
    height: 100vh;
    opacity: 0;
    /* background-image: linear-gradient(white, transparent 0%, transparent 80%, white); */
    max-width: 35vw;
    animation: slide-in 0.5s ease-out forwards;
    padding: 15px;
}

#lyrics{
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#lyrics::-webkit-scrollbar{
    width: 0px;
}

#lyrics-video-ele::-webkit-scrollbar{
    width: 0px;
}

.plyr__tooltip{
    padding: 4px !important;
}

.plyr__tooltip::-webkit-scrollbar{
    width: 0px;
}

.plyr__progress input{
    margin-left: 0px !important;
}

#seekbar-display{
    position: absolute;
    bottom: 50px;
    background-color: transparent;
    height: 30px;
    width: 98vw;
    border: 3px solid white;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0px;
}

#seekbar-display::-webkit-slider-thumb{
    margin: 2px !important;
    width: 0px;
    box-shadow: -1200px 0 0 1200px white;
}


#seekbar-display::-webkit-slider-runnable-track{
    width: 100%;
    height: 15px;
    background-color: transparent;
}

#seek-value{
    color: white;
    position: absolute;
    bottom: 90px;
    margin-left: 15px;
    font-size: xx-large;
}

#title-display{
    width: 90vw;
    color: white;
    position: absolute;
    bottom: 90px;
    margin-left: 15px;
    font-size: xx-large;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    padding-left: 20px;
    background: rgba(67, 61, 61, 0.631);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px) ;
    border: 1px solid rgba(67, 61, 61, 0.45);
    border-radius: 5px;
    animation: slide-in3 0.5s ease-out forwards;
}

.reverseAnimation{
    animation: slide-in2 0.5s ease-out forwards !important;
    opacity: 1;
}

@keyframes slide-in {
    from {
      /* transform: translateX(-100%); */
        opacity: 0; 
    }
    to {
        /* transform: translateX(0); */
        opacity: 1;
    }
}

@keyframes slide-in3 {
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}

@keyframes slide-in2 {
    0% {
        filter: blur(0px);
        scale: 1;
    }
    100% {
        filter: blur(100px);
        scale: 0;
    }
}